html
  head
    title= title
    link(rel='stylesheet' href='/common.css', type='text/css')
    script(src="/common.js")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    block otherIncludes

  body
    block header
      div(class="header")
        a(href="/") Home
        a(href="/complete") Completions Here

    block body
      div
        p some stuff here