extends base.pug

block body
  div
    p Here are the completions for
    input(class="classSearch", placeholder="yo, complete me")
    button Search!
    p
    table
      each completion in completions
        tr
          td= completion